name: Build and Test

on:
  - push

jobs:
  build-test:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: workspace

      - name: Checkout Utility Library
        uses: actions/checkout@v3
        with:
          repository: otula/COMP.SE.200-2022-2023-1
          path: util-lib
      
      - name: Copy Source Files from Library
        run: |-
          mkdir -p workspace/src
          cp -r util-lib/src/. workspace/src

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: npm
          cache-dependency-path: workspace/package-lock.json
      
      - name: Install Dependencies
        run: npm install
        working-directory: workspace

      - name: Test
        run: npm test
        working-directory: workspace
        continue-on-error: true

      - name: Coveralls Reporting
        uses: coverallsapp/github-action@master
        id: coverage_report
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          base-path : workspace/
      
      - name: Print Coveralls Result
        run: echo '${{ steps.coverage_report.outputs.coveralls-api-result }}'
